{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block body %}
<form action="/simulation" method="post">
<div id="home">
  <label for="homeTeam"> Home <br></label>
  <img id="home-logo" vspace="10" src="https://cdn.freebiesupply.com/logos/large/2x/anaheim-ducks-logo.png">
  <br>
  <select name="homeTeam" id="homeTeam" class="teamDropDown" onchange="changeHomeImage()">
    {% for team in teams %}
    {% if team.teamName == 'League Average' %}
    {% else %}
    <option value="{{ team.id }}">{{ team.teamName }}</option>
    {% endif %}
    {% endfor %}
  </select>
<br>
</div>


<div id="away">
  <label for="awayTeam"> Away <br></label>
  <img id="away-logo" vspace="10" src="https://cdn.freebiesupply.com/logos/large/2x/anaheim-ducks-logo.png">
  <br>
  <select name ="awayTeam" id="awayTeam" class="teamDropDown" onchange="changeAwayImage()">
    {% for team in teams %}
    {% if team.teamName == 'League Average' %}
    {% else %}
    <option value="{{ team.id }}">{{ team.teamName }}</option>
    {% endif %}
    {% endfor %}
  </select>
<br>
</div>


<div id ="simulate">
<input type="submit" onclick="simulate()" class="simulateButton" value="Simulate Win %"></input>
</div>

</form>

{% endblock %}
