{% extends 'base.html' %}

{% block head %}
<title> Learn Flask </title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 id="statsHeader">Stats Per Game</h1> <br>
    {% if teams|length == 0 %}
    <p>No teams</p>
    {% else %}
        <table class="StatsTable" id="statsTable">
            <tr class="StatsHeader">
                <th><button onclick="sortTable('StatsName')">Team Name</button></th>
                <th>
                    <a class="tooltips">
                    <button onclick="sortTable('StatsGP')">GP</button><span>Games played</span></a>
                </th>
                <th>
                    <a class="tooltips">
                    <button onclick="sortTable('StatsCF')">Corsi For</button><span>5v5 total shots (on goal + missed + blocked)</span></a>
                </th>
                <th>
                    <a class="tooltips">
                    <button onclick="sortTable('StatsCA')">Corsi Against</button><span>5v5 shot attempts against</span></a>
                </th>
                <th>
                    <a class="tooltips">
                    <button onclick="sortTable('StatsCP')">CF %</button><span>Corsi for / (corsi for + corsi against)</span></a>
                </th>
                <th>
                    <a class="tooltips">
                    <p>Shot %</button><span>Percent of shots resulting in goals</span></a>
                    </th>
            </tr>
            {% for team in teams %}
            <tr class="StatsData">
                <td class="StatsName">{{ team.teamName }}</td>
                <td class="StatsGP">{{ team.gamesPlayed|round }}</td>
                <td class="StatsCF">{{ ((team.corsiFor * 10)|round)/10 }}</td>
                <td class="StatsCA">{{ ((team.corsiAgainst * 10)|round)/10 }}</td>
                <td class="StatsCP">{{ (((100 * team.corsiFor / (team.corsiFor + team.corsiAgainst)) * 10)|round) / 10 }}%</td>
                <td class="StatsShot">{{ ((team.shotP * 10)|round)/10 }}%</td>
            </tr>

            {% endfor %}
        </table>
        {% endif %}
        </div>
        <form action="/stats" method="post">
            If stats are not up to date:
            <div id ="simulate">
                <input type="submit" class="updateButton" value="Update Stats"></input>
            </div>
            Note: If you don't wait for the page to reload after updating stats (~30 seconds), stats will not be complete
        </form>
</div>
{% endblock %}
