{% extends 'base.html' %}

{% block head %}
<title> Learn Flask </title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 id="statsHeader">Stats Per Game</h1> <br>
    {% if teams|length == 0 %}
    <p>No teams</p>
    {% else %}
        <table class="StatsTable" id="statsTable">
            <tr class="StatsHeader">
                <th><p><button onclick="sortTable('StatsName')">Team Name</button></p></th>
                <th><p><button onclick="sortTable('StatsGP')">GP</button></th>
                <th><p><button onclick="sortTable('StatsCF')">Corsi For</button></th>
                <th><p><button onclick="sortTable('StatsCA')">Corsi Against</button></th>
                <th><p><button onclick="sortTable('StatsCP')">CF %</button></th>
            </tr>
            {% for team in teams %}
            <tr class="StatsData">
                <td class="StatsName">{{ team.teamName }}</td>
                <td class="StatsGP">{{ team.gamesPlayed|round }}</td>
                <td class="StatsCF">{{ ((team.corsiFor * 10)|round)/10 }}</td>
                <td class="StatsCA">{{ ((team.corsiAgainst * 10)|round)/10 }}</td>
                <td class="StatsCP">{{ (((100 * team.corsiFor / (team.corsiFor + team.corsiAgainst)) * 10)|round) / 10 }}</td>
            </tr>

            {% endfor %}
        </table>
        {% endif %}
        </div>
</div>
{% endblock %}
