* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
  font-family: sans-serif;
  margin: 1;
  text-align: center;}


.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    display: block;
    background-color: #1d1d1d;
}

.inner-header {
    display: block;
    margin-left: 230px;
    height: 100%;
    background-color: #666666;
    color: white;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    float: left;
    padding: 0px 20px;
    height: 100%;
    display: table;
    color: white;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 20px;
    font-weight: 100;
    color: white;
}

.navigation a:hover{
  background-color: black;
}


#logo {
    float: left;
    display: table-cell;
    vertical-align: middle;
    height: 80%;
    margin-left: 10px;
    margin-top: 6px;
}

.predictorText {
    margin-left: 5px;
    height: 100%;
    display: table;
    float: left;
}

.predictorText h1 {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    color:white;

    font-size: 20px;
    font-weight: 100;
}

.predictorText h1 span {
    font-weight: 800;
}

.StatsTable {
  padding: 15px;
  border-spacing: 0px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: white;}

.StatsHeader th {
  background-color: #666666;
  color: white;
  text-align: left;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
}

.StatsHeader button {
  color: white;
  background-color: #666666;
  border: none;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
}

.StatsData td {
  height: 25px;
  padding-left: 5px;
}

.StatsName {
  width: 40%;
}

.StatsGP {
  width: 8%;
}

.StatsCF {
  width: 16%;
}

.StatsCA {
  width: 18%;
}

.StatsCP {
  width: 10%;
}

.statsShot {
  width: 16%;
}

.statsPPName {
  width: 20%;
}
.statsPPGP {
  width: 10%;
}

.statsPPG {
  width: 5%;
}

.statsPP {
  width: 5%;
}

.statsPPP {
  width: 10%;
}

.statsSHG {
  width: 5%;
}

.statsSH {
  width: 5%;
}

.statsSHP {
  width: 10%;
}

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:470px;
  color: #000000;
  background: #FFFFFF;
  border: 2px solid #666666;
  height: 30px;
  line-height: 35px;
  text-align: center;
  visibility: hidden;
  border-radius: 9px;
  box-shadow: 0px 0px 7px #000000;
  font-size: 15px;
  font-weight: 50;
}
a.tooltips span:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 18%;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 12px solid #666666;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 18%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #FFFFFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  bottom: 30px;
  left: 18%;
  margin-left: -76px;
  z-index: 999;
}

table, th, td {
    text-align: left;
    margin: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  #home {
    font-family: Georgia;
    font-size: 30px;
    margin-left: 30px;
    float: left;
    text-align: center;
  }
  
  #homeWin {
    float: left;
    text-align: center;
    position: relative;
    top: 90px;
    left: 90px;
  }
  
  #awayWin {
    float: right;
    text-align: center;
    position: relative;
    top: 90px;
    right: 90px;
  }
  
  .percentage {
    font-size: 30px;
  }
  
  #winPercent {
    font-style: Georgia;
  }
  
  #away {
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
    margin-right: 30px;
    float: right;
  }
  
  #simulate {
    position: relative;
    text-align: center;
  }
  
  .simulateButton {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    position: relative;
    top: 225px;
  }
  
  .teamDropDown {
    position: relative;
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
  }
  
  .simulateButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

  .SimulatedData {
    padding: 30px;
    border-spacing: 0px;
}

 .SimulatedData td {
    text-align: left;
    font-size: 18px;
    padding: 10px 100px 10px 100px;
    font-family: sans-serif;
    border: 1px solid black;
  }

  .label {
    width: 50%;
    background-color: #666666;
    color: white;
    border: 1px solid black;
  }

  .homeStats {
    background-color: #AAAAAA;
    width: 20%;
    color: black;
  }

  .awayStats {
    background-color: #AAAAAA;
    width: 20%;
    color: black;
  }

  .backHome {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
  }

  .backHome:hover {
    background-color: black;
    cursor: pointer;
  }

  #winPercent {
  height: 40px;
  }
  
  #home-logo {
    width: 200px;
    height: 200px;
    position:relative;
  }
  
  #homeTeam {
   margin-left: 20px;
   position:relative;
  }
  
  #away-logo {
    width: 200px;
    height: 200px;
    position:relative;
  }
  
  #awayTeam {
    margin-right: 20px;
    position:relative;
  }
  
  #background {
    margin-top: 30px;
    text-align: center;
  }
  
  #topBackground {
    background-color: grey;
  }